/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*
a{
    text-decoration: none;
}

header{
    display: flex;
    width: 1500px;
    height: 100px;
}

header .logo{
    margin-left: 51px;
}

nav{
    width: 1500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

nav > ul > li{
    margin-left: 50px;
}

nav > ul > li > a:hover{
    background: rgba(255,255,255, 0.1);
  }
  
nav > ul > li{
    font-size: 30px;
    color: orange;
    display: flex;
    font-family: 'Pretendard-Regular';

}

.banner{
    display: block;
    margin: auto;
}

.intro{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}

section{
    width: 1900px;
    height: 10350px;
}

.page{
    display: block;
    margin: auto;
}


.map{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.inquiry{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    font-family: 'Pretendard-Regular';
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.line-dec{
    width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;
    margin-bottom: 30px;
}

#map_wrap{
    width: 1900px;
    height:600px;
    display: flex;
    background-color: #182746;
}

.googlemap{
    width: 800px;
    height: 600px;
    display: flex;

}
.googlemap iframe {
    margin-left: 200px;
    margin-top:50px;
	width: 800px;
    height:500px;
	overflow: hidden;
    display: flex;
}

.addressright {
    width: 600px;
    height: 300px;
    padding-left: 50px;
    padding-top: 120px;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    display: inline-block;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.row{display: flex;
    height: 50px;
    width: 200px;
    padding-top: 20px;
    justify-content: space-around;
    font-weight: 500;
}

footer{
    width: 1900px;
    height: 250px;
    display: flex;
    background:#7f7f7f;
}

footer .footerleft {
    font-family: 'Pretendard-Regular';
    width: 800px;
    height: 250px;
    display: flex;
    justify-content: center;


}

.number{
    width: 800px;
    height: 100px;
    text-align: center;
    padding-top: 100px;
    margin-left: 100px;
    font-size: 25px;
}

address{
    font-family: 'Pretendard-Regular';
    width: 800px;
    height: 250px;
    display: inline-block;
    line-height: 25px;
    padding-left: 50px;

}